<%- include('partials/header') -%>
<div class="container">
  <a href="/Home"><i class="fa-sharp fa-solid fa-house fa-lg"></i></a>

  <% let total = 6;%> <% let col = 4;%> <% let row= 2;%>
  <div class="row mb-3 mt-3">
    <% for(var i = 0;i<blogs.length;i++){%>
    <div class="col-lg-3 card me-5 mb-4">
      <img class="card-img-top" src="<%= arrie[i].image%>" alt="" />
      <div class="card-body">
        <h4 class="card-title"><%=arrie[i].title%></h4>
        <p class="card-text"><%=arrie[i].caption%></p>
        <!-- <div class="clearfix">
          <form
            action="/blog/likeBlog/<%= blogs[i]._id %>?_method=PUT"
            method="POST"
          >
            <a
              href="#"
              class="btn btn-primary fa fa-heart float-end"
              type="submit"
            ></a>
          </form>

          <form
            action="/blog/favoriteBlogHome/<%= blogs[i]._id %>"
            method="POST"
          >
            <a href="#" class="btn btn-primary fa fa-star" type="submit"></a>
          </form>
        </div> -->
      </div>
    </div>

    <% } %>
  </div>
</div>
<%- include('partials/footer') -%>
