<%- include('partials/header') -%>
<div class="container">
<% let total = 6;%> <% let col = 4;%> <% let row= 2;%>
<% for(var i = 0;i<blogs.length;i+=4){%>
   <% let itemsco= i +4;%>
   <div class="row mb-3 mt-3 ">
     <% for(var items= i; items<6;items++) {%>
   <div class="col-md-3 card" style="border: 1px solid red">
     <img
       class="card-img-top"
       src="<%= arrie[items].image%>"
       alt=""
     />
     <div class="card-body">
       <h4 class="card-title"><%=arrie[items].title%></h4>
       <p class="card-text">
         <%=arrie[items].caption%>
       </p>
       <!-- <a class="btn btn-success" href="#">Read More</a> -->
       <!-- <a href="#" class="card-link">Card link</a> -->
       <div class="clearfix">
       <form
     action="/blog/likeBlog/<%= blogs[i]._id %>?_method=PUT"
     method="POST"
   >
     <a href="#"class="btn btn-primary fa fa-heart float-end" type="submit"></a>
       </form>

       <form
     action="/blog/favoriteBlogHome/<%= blogs[i]._id %>"
     method="POST"
   >
     <a href="#" class="btn btn-primary fa fa-star" type="submit"></a>
   </form>
       </div>
     </div>
   </div>
     <% } %>
 </div>
 <% } %>
</div>
</div>
<%- include('partials/footer') -%>
